.Footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 130px;
    &--left {
       
    }
    &__menu {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-item {
            padding-left: 50px;
        }
    }
    &__social {
        list-style: none;
        display: flex;
        justify-content: space-between;
        &-item {
            padding-left: 50px;
        }
    }
}